In [2]:
for value in range(0,20):
    print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for value in range(10,20):
    print(value)

10
11
12
13
14
15
16
17
18
19

In [5]:
Lists=[10,20,14,55,43,87,76]
print(Lists)
print("Number of item in the Lists :", len(Lists))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the Lists : 7

In [9]:
word="Artifical Intelligence"
print(word)
for letter in word[0:len(word)]:
    print(letter)

Artifical Intelligence
A
r
t
i
f
i
c
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [13]:
Name=input("Enter your name:")
Age= int(input("Enter your age:"))
Profession=input("Enter your profession:")
print(f"-{Name}-")
print(f"-{Age}-")
print(f"-{Profession}-")

Enter your name: Priyanka
Enter your age: 30
Enter your profession: AI Begineer

-Priyanka-
-30-
-AI Begineer-

In [14]:
#tuple
tup=(1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [15]:
tup1=(0,1,2,3)
tup2=('python','Hope')
tup3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'Hope'))

In [16]:
#Print the odd number

Lists=[20,10,16,19,25,1,276,188]
for num in Lists:
    if(num%2==1):
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [17]:
#Print the even number

Lists=[20,10,16,19,25,1,276,188]
for num in Lists:
    if(num%2==0):
        print(num,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even